:root {
  --sz: 100%;
  --wd: 15rem;
  --ht: 12rem;
  --rd: .2lh;
  --pd: 1.125rem;
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  --unit: 5;
  --fnt-sz: calc(var(--pd) / var(--unit) * 2);
  --black-color: hsl(56, 67%, 5%);
  --white-color: #f8f6f5;
  --blue-color: hsl(204, 80%, 67%);
  --light-grey: hsl(0, 0%, 83%);
  --dark-grey: hsl(10, 3%, 58%);
  --red-color: hsl(14, 91%, 36%);
}

:where(html, body, p, code) { margin: 0; }
:where(.hex--color, .name--color, .copy--btn, .hex--info__container, .box, .message) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.info--container, .copy--btn) { 
    border: .2lh solid var(--dark-grey); }
:where(.title, .copy--btn) { text-transform: uppercase; }
:where(p, code) { color: var(--dark-grey) }


button { 
  cursor: pointer;
  &:active { transform: scale(.98) }
}

.container { 
  margin: var(--pd);
  .box {
    width: var(--sz);
    background-color: var(--red-color);
    border-radius: calc(var(--rd) * .35);
    position: absolute;
    top: 0;
    left: 0;
    .message {
      margin: 0;
      color: var(--white-color);
      font: 500 calc(var(--pd) * 5.25) var(--fnt-abel);
      text-transform: capitalize
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--pd);
  }
}

.palette--container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: var(--wd);

  .hex--color {
    grid-row: 1;
    width: var(--sz);
    height: calc(var(--ht) * 2);
    background-color: var(--blue-color);
    border-radius: calc(var(--rd) * 2);
    box-shadow: .75vmin .75vmin .75rem rgba(0, 0, 0, .45) inset, -.75vmin -.75vmin 1rem rgba(255, 255, 255, .45) inset, .35vmin .35vmin .75rem rgba(1, 1, 1, .5);

  }

  .info--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(var(--sz) - .35rem);
    height: calc(var(--ht) * .65);
    margin-block-start: calc(var(--pd) * .5);
    background-color: var(--white-color);
    border-radius: var(--rd) var(--rd) 0 0;
    box-shadow: .15vmin .15vmin .25rem rgba(0, 0, 0, .45) inset, -.15vmin -.15vmin .25rem rgba(255, 255, 255, .45) inset;    
    .hex--info__container {
      grid-row: 1;
      grid-column: 1 / -1;
      padding-inline: var(--pd);
      justify-content: space-between;
      border: .2lh solid transparent;
      border-bottom-color: rgba(0, 0, 0, .025);
      .name--info {
        font: 800 calc(var(--pd) * 1.25) var(--fnt-play);
        text-transform: capitalize;
      }
      .hex--info { 
        font-size: var(--pd);
        font-family: var(--fnt-abel)
      }
    }
    .title {
      grid-row: 2;
      grid-column: 1 / -1;
      margin: auto 0;
      padding-inline-start: var(--pd);
      font: 700 calc(var(--pd) * .85) var(--fnt-play);
      color: var(--blue-color)
    }
  }
  
  .copy--btn {
    grid-row: 3;
    grid-column: 1 / -1;
    width: var(--sz);
    height: calc(var(--pd) * 2);
    font: 700 1rem var(--fnt-play);
    letter-spacing: .03lh;
    outline: none;
    border-radius: 0 0 var(--rd) var(--rd);
    background-image: linear-gradient(
      45deg,
      var(--blue-color) 5%,
      var(--black-color) 85%
      );
    color: var(--white-color);
  }
}